header {
  height: 60px;
  border-bottom: 1px inset lightgray;
  display: flex;
  align-items: center;
}

.horizontalNav {
  list-style-type: none;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
}

.readerMainWrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 350px;
}

.sidebarTop {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}

.sidebarBottom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.articleWindow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 3;
  height: 100vh;
  overflow-y: scroll;
}

/*============= HELPERS =============*/

.hundredWide {
  width: 100px;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.lilPadding {
  padding: 10px;
}
